body{
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  background-image: url(MIYA160131480493_TP_V.jpg);
  background-size: cover;
  text-align: center;
}

.top-wrapper{
  padding-top: 120px;
}
@media screen and (max-width: 750px){
 .top-wrapper{
   margin-top: -100px;
 }
}
h1{
  font-size: 50px;
  color:white;
  opacity:0.7;
}
@media screen and (max-width: 750px){
  h1{
    font-size: 45px;
  }
}
p{
  font-size: 20px;
  color:white;
  opacity:0.7;
  margin-bottom:  50px;
}
@media screen and (max-width: 750px){
  p{
    font-size: 25px;
  }
}
a.cp_btn1 {
	display: inline-block;
	position: relative;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border:1px solid #8BC34A;
	background: #66FF99;
	overflow: hidden;
	z-index: 1 !important;
  opacity: 0.9;
}
@media screen and (max-width: 750px){
  .cp_btn1{
    display:block;
    margin-top: -20px;
    font-weight: bold;
}
}
a.cp_btn1:after {
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 100%;
	background : #fff;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
	z-index: -1;
}
a.cp_btn1:hover {
	color: blue;
}
a.cp_btn1:hover:after {
	height: 250%;
	opacity: 1;
}
a.cp_btn1:active:after {
	height: 350%;
	opacity: 1;
}
a.cp_btn2 {
	display: inline-block;
	position: relative;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border:1px solid #8BC34A;
	background: #66FF99;
	overflow: hidden;
	z-index: 1 !important;
  opacity: 0.9;
}
@media screen and (max-width: 750px){
  .cp_btn2{
    display: block;
    margin-top: -20px;
    font-weight: bold;
  }
}
a.cp_btn2:after {
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 100%;
	background : #fff;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
	z-index: -1;
}
a.cp_btn2:hover {
	color: #da3c41;
}
a.cp_btn2:hover:after {
	height: 250%;
	opacity: 1;
}
a.cp_btn2:active:after {
	height: 350%;
	opacity: 1;
}
a.cp_btn3 {
	display: inline-block;
	position: relative;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border:1px solid #8BC34A;
	background: #66FF99;
	overflow: hidden;
	z-index: 1 !important;
  opacity: 0.9;
}
@media screen and (max-width: 750px){
.cp_btn3{
  display:block;
  margin-top: -20px;
  font-weight: bold;
}
}
a.cp_btn3:after {
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 100%;
	background : #fff;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
	z-index: -1;
}
a.cp_btn3:hover {
	color: green;
}
a.cp_btn3:hover:after {
	height: 250%;
	opacity: 1;
}
a.cp_btn3:active:after {
	height: 350%;
	opacity: 1;
}
.cp_arrows *, .cp_arrows *:before, .cp_arrows *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_arrows {
	position: relative;
	display: inline-block;
	height:150px;/*画面いっぱいにする場合100vh*/
}
@media screen and (max-width: 750px){
.cp_arrows{
  display:block;
  height:100px;
  margin-right: 200px;
}
}
.cp_arrows .cp_arrow {
	position: absolute;
	top: 50%;/*着地点（サンプルは[class:cp_arrows]height300pxの50%）*/
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	opacity: 0;
}
.cp_arrows .cp_arrowfirst {
	-webkit-animation: arrow-move08 2s ease-in-out infinite;
	        animation: arrow-move08 2s ease-in-out infinite;
}
.cp_arrows .cp_arrowsecond {
	-webkit-animation: arrow-move08 2s 1s ease-in-out infinite;
	        animation: arrow-move08 2s 1s ease-in-out infinite;
}
.cp_arrows .cp_arrow:before, .cp_arrows .cp_arrow:after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 30px;
	height: 3px;
	content: '';
	background: #E91E63;
  margin-left: 90px;
}
.cp_arrows .cp_arrow:before {
	-webkit-transform: rotate(30deg) translateX(-39%);
	        transform: rotate(30deg) translateX(-39%);
	-webkit-transform-origin: top left;
	        transform-origin: top left;
}
.cp_arrows .cp_arrow:after {
	-webkit-transform: rotate(-30deg) translateX(39%);
	        transform: rotate(-30deg) translateX(39%);
	-webkit-transform-origin: top right;
	        transform-origin: top right;
}
@-webkit-keyframes arrow-move08 {
	0% {
		top: 40%;/*スタート地点（サンプルは[class:cp_arrows]height300pxの35%）*/
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes arrow-move08 {
	0% {
		top: 40%;/*スタート地点（サンプルは[class:cp_arrows]height300pxの35%）*/
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@media screen and (max-width: 750px){
  .item{
    margin-top: -60px;
    margin-bottom: 80px;
  }
}
